.event-form {
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.event-create-topmost-bar {
  display: flex;
  justify-content: space-between;
}

#create-an-event-text {
  color: #1e0a3c;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.create-an-event-submit-button {
  background-color: #d0410b;
  color: #ffffff;
  height: 44px;
  width: 118px;
  border-radius: 5px;
}

.create-event-header-bar {
  background-color: #4b4d63;
  height: 48px;
  width: 100%;
}

.form-section-header {
  border-bottom: 1px solid 
}

.form-section-number {
  background-color: #3659E3;
}