#main-login-body {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 390px;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

#signin-form {
  display: flex;
  min-height: 212px;
  flex-direction: column;
  justify-content: space-between;
}

.default-user-icon {
  margin: 0 auto;
  display: flex;
  margin-top: 35px;
  margin-bottom: 27px;
  color: #f05537;
  size: 9x;
}

#forgot-password {  
  padding-top: 10px;
  margin: 0 auto;
  color: #3659e2;
  font-size: 15px;
  font-weight: 100px;
}

.errors {
  color: red;
}