#header-main-section {
  display: flex;
  justify-content: space-between;
  height: 59px;
  border-bottom: 1px solid #eeedf2;
  background-color: transparent;
  align-items: center;
  font-size: 16px;
}

// CHANGE FONTS
#navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  text-align: center;
  width: minmax(632px, auto);
}

.navbar-item {
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  color: #6f7287;
  font-weight: 350;
  text-align: center;
  text-decoration-line: none;
}

.ticketbits-home-icon {
  color: #f05537;
  font-size: 22px;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 130px;
  text-align: center;
  font-weight: bold;
  text-decoration-line: none;
}

#browse-events-navbar {
  width: 145px;
}

#organize-navbar {
  width: 80px;
}

#help-navbar {
  width: 75px;
}

#create-event-navbar {
  width: 95px;
  color: #3d64ff;
}

#logout-navbar {
  width: 70px;
}

#signin-navbar {
  width: 90px;
}


#users-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 20px;
  height: 100%;
}

// .mini-pic {
  
//   display: flex;
//   width: 45px;
//   height: 45px;
//   margin: 0;
//   border: #8e9293

// }